roslaunch franka_gazebo panda.launch x:=-0.5 \
    world:=$(rospack find franka_gazebo)/world/stone.sdf \
    controller:=effector_cartesian_controller \
    rviz:=true

<?xml version="1.0" ?>
<launch>

    <arg name="gazebo"      default="true"  doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
    <arg name="headless"    default="false" doc="Should the gazebo GUI be launched?" />
    <arg name="paused"      default="false" doc="Should the simulation directly be stopped at 0s?" />
    <arg name="world"       default="worlds/empty.world" doc="Filename to a SDF World for gazebo to use" />
    <arg name="rviz"        default="false" doc="Should RVIz be launched?" />

    <arg name="arm_id"      default="panda" doc="Name of the panda robot to spawn" />
    <arg name="use_gripper" default="true"  doc="Should a franka hand be mounted on the flange?" />
    <arg name="controller"  default="effector_cartesian_controller"     doc="Which example controller should be started? (One of {cartesian_impedance,model,force,joint_position,joint_velocity}_example_controller)" />
    <arg name="x"           default="0"     doc="How far forward to place the base of the robot in [m]?" />
    <arg name="y"           default="0"     doc="How far leftwards to place the base of the robot in [m]?" />
    <arg name="z"           default="0"     doc="How far upwards to place the base of the robot in [m]?" />
    <arg name="roll"        default="0"     doc="How much to rotate the base of the robot around its X-axis in [rad]?" />
    <arg name="pitch"       default="0"     doc="How much to rotate the base of the robot around its Y-axis in [rad]?" />
    <arg name="yaw"         default="0"     doc="How much to rotate the base of the robot around its Z-axis in [rad]?" />

    <include file="$(find franka_gazebo)/launch/panda.launch" pass_all_args="true">
        <arg name="allow_trajectory_execution" value="true" />
        <arg name="info" value="true" />
    </include>
    <param name="robot_description"
         command="xacro $(find franka_description)/robots/panda/panda.urdf.xacro
                  gazebo:=true
                  hand:=$(arg use_gripper)
                  arm_id:=$(arg arm_id)
                  xyz:='$(arg x) $(arg y) $(arg z)'
                  rpy:='$(arg roll) $(arg pitch) $(arg yaw)'
                  $(arg xacro_args)">
    </param>

</launch>