<launch>

  <arg name="arm_id" default="panda" />
  <arg name="use_gripper" default="true" />
  

  <arg name="robot_description" default="robot_description"/>


  <param name="$(arg robot_description)_semantic" command="xacro '$(find panda_arm_control)/config/panda.srdf.xacro' hand:=$(arg use_gripper) arm_id:=$(arg arm_id)" />


  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find panda_arm_control)/config/joint_limits.yaml" subst_value="true" />
    <rosparam command="load" file="$(find panda_arm_control)/config/cartesian_limits.yaml" subst_value="true"/>
  </group>


  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find panda_arm_control)/config/kinematics.yaml" subst_value="true"/>

  </group>

</launch>

<!-- <launch>

  <arg name="arm_id" default="panda" />
  <arg name="use_gripper" default="true" />

  <arg name="load_robot_description" default="false"/>


  <arg name="robot_description" default="robot_description"/>






  <param name="$(arg robot_description)_semantic" textfile="$(find panda_moveit_config)/config/panda.srdf" />

  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find panda_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find panda_moveit_config)/config/cartesian_limits.yaml"/>
  </group>


  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>

  </group>


</launch> -->
